--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4 (Debian 17.4-1.pgdg120+2)
-- Dumped by pg_dump version 17.4 (Debian 17.4-1.pgdg120+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: unaccent; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS unaccent WITH SCHEMA public;


--
-- Name: EXTENSION unaccent; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION unaccent IS 'text search dictionary that removes accents';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: tbl_author; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tbl_author (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    updated_at timestamp(6) without time zone,
    is_deleted boolean DEFAULT false,
    name character varying(255)
);


ALTER TABLE public.tbl_author OWNER TO postgres;

--
-- Name: tbl_author_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tbl_author ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tbl_author_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tbl_cart; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tbl_cart (
    user_id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    updated_at timestamp(6) without time zone,
    total_price numeric(19,2)
);


ALTER TABLE public.tbl_cart OWNER TO postgres;

--
-- Name: tbl_cart_item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tbl_cart_item (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    updated_at timestamp(6) without time zone,
    price numeric(19,2),
    quantity integer,
    cart_id bigint,
    product_id bigint
);


ALTER TABLE public.tbl_cart_item OWNER TO postgres;

--
-- Name: tbl_cart_item_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tbl_cart_item ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tbl_cart_item_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tbl_category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tbl_category (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    updated_at timestamp(6) without time zone,
    is_deleted boolean,
    name character varying(255)
);


ALTER TABLE public.tbl_category OWNER TO postgres;

--
-- Name: tbl_category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tbl_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tbl_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tbl_coupon; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tbl_coupon (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    updated_at timestamp(6) without time zone,
    code character varying(255),
    description character varying(255),
    end_date date,
    is_active boolean DEFAULT true,
    is_deleted boolean DEFAULT false,
    max_discount numeric(19,2),
    min_amount numeric(19,2),
    name character varying(255),
    coupon_type smallint,
    coupon_value numeric(19,2),
    quantity integer,
    start_date date,
    used_count integer DEFAULT 0
);


ALTER TABLE public.tbl_coupon OWNER TO postgres;

--
-- Name: tbl_customer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tbl_customer (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    updated_at timestamp(6) without time zone,
    address character varying(255),
    code character varying(255) NOT NULL,
    dob date,
    email character varying(255),
    gender boolean,
    is_active boolean DEFAULT true,
    is_deleted boolean DEFAULT false,
    name character varying(255),
    phone_num character varying(255),
    img_url character varying(255),
    public_id character varying(255)
);


ALTER TABLE public.tbl_customer OWNER TO postgres;

--
-- Name: tbl_customer_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tbl_customer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tbl_customer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tbl_delivery_address; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tbl_delivery_address (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    updated_at timestamp(6) without time zone,
    address character varying(255),
    commune character varying(255),
    name character varying(255),
    phone_num character varying(255),
    province character varying(255),
    customer_id bigint
);


ALTER TABLE public.tbl_delivery_address OWNER TO postgres;

--
-- Name: tbl_delivery_address_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tbl_delivery_address ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tbl_delivery_address_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tbl_delivery_info; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tbl_delivery_info (
    id bigint NOT NULL,
    address character varying(255),
    customer_name character varying(255),
    email character varying(255),
    phone_num character varying(255)
);


ALTER TABLE public.tbl_delivery_info OWNER TO postgres;

--
-- Name: tbl_order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tbl_order (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    updated_at timestamp(6) without time zone,
    grand_total numeric(19,2),
    amount_paid numeric(19,2),
    change_amount numeric(19,2),
    code character varying(255) NOT NULL,
    delivery_fee numeric(19,2),
    discount numeric(19,2),
    note character varying(255),
    sale_channel smallint,
    order_status smallint,
    sub_total numeric(19,2),
    customer_id bigint,
    coupon_id bigint,
    staff_id bigint,
    payment_method smallint,
    payment_status smallint,
    ordered_at timestamp(6) without time zone,
    order_type smallint,
    invoice_date timestamp(6) without time zone,
    invoice_number character varying(255)
);


ALTER TABLE public.tbl_order OWNER TO postgres;

--
-- Name: tbl_order_detail; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tbl_order_detail (
    id bigint NOT NULL,
    price numeric(19,2),
    product_code character varying(255),
    product_name character varying(255),
    quantity integer,
    total_price numeric(19,2),
    order_id bigint,
    product_id bigint,
    created_at timestamp(6) without time zone,
    updated_at timestamp(6) without time zone,
    discount numeric(19,2)
);


ALTER TABLE public.tbl_order_detail OWNER TO postgres;

--
-- Name: tbl_order_detail_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tbl_order_detail ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tbl_order_detail_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tbl_order_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tbl_order ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tbl_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tbl_order_status_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tbl_order_status_log (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    updated_at timestamp(6) without time zone,
    confirm_at timestamp(6) without time zone,
    confirm_by character varying(255),
    status smallint,
    order_id bigint
);


ALTER TABLE public.tbl_order_status_log OWNER TO postgres;

--
-- Name: tbl_order_status_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tbl_order_status_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tbl_order_status_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tbl_product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tbl_product (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    updated_at timestamp(6) without time zone,
    code character varying(255) NOT NULL,
    description text,
    img_url character varying(255),
    is_active boolean DEFAULT true,
    is_deleted boolean DEFAULT false,
    name character varying(255),
    num_of_pages integer,
    price numeric(19,2),
    public_id character varying(255),
    published_year integer,
    publisher character varying(255),
    quantity integer,
    translator character varying(255),
    promotion_id bigint
);


ALTER TABLE public.tbl_product OWNER TO postgres;

--
-- Name: tbl_product_author; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tbl_product_author (
    id bigint NOT NULL,
    author_id bigint,
    product_id bigint
);


ALTER TABLE public.tbl_product_author OWNER TO postgres;

--
-- Name: tbl_product_author_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tbl_product_author ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tbl_product_author_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tbl_product_category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tbl_product_category (
    id bigint NOT NULL,
    category_id bigint,
    product_id bigint
);


ALTER TABLE public.tbl_product_category OWNER TO postgres;

--
-- Name: tbl_product_category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tbl_product_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tbl_product_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tbl_product_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tbl_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tbl_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tbl_promotion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tbl_promotion (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    updated_at timestamp(6) without time zone,
    code character varying(255),
    description character varying(255),
    end_date date,
    is_active boolean DEFAULT true,
    name character varying(255),
    promotion_type smallint,
    promotion_value numeric(19,2),
    start_date date,
    max_discount numeric(19,2),
    min_amount numeric(19,2)
);


ALTER TABLE public.tbl_promotion OWNER TO postgres;

--
-- Name: tbl_promotion_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tbl_promotion ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tbl_promotion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tbl_staff; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tbl_staff (
    id bigint NOT NULL,
    address character varying(255),
    code character varying(255) NOT NULL,
    dob date,
    email character varying(255),
    gender boolean,
    identity_num character varying(255),
    is_active boolean DEFAULT true,
    is_deleted boolean DEFAULT false,
    name character varying(255),
    phone_num character varying(255),
    created_at timestamp(6) without time zone,
    updated_at timestamp(6) without time zone,
    img_url character varying(255),
    public_id character varying(255)
);


ALTER TABLE public.tbl_staff OWNER TO postgres;

--
-- Name: tbl_staff_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tbl_staff ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tbl_staff_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tbl_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tbl_user (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    updated_at timestamp(6) without time zone,
    is_active boolean DEFAULT true,
    password character varying(255) NOT NULL,
    role character varying(255),
    username character varying(255) NOT NULL,
    customer_id bigint,
    staff_id bigint,
    is_deleted boolean DEFAULT false
);


ALTER TABLE public.tbl_user OWNER TO postgres;

--
-- Name: tbl_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tbl_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tbl_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tbl_voucher_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tbl_coupon ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tbl_voucher_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: tbl_author; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tbl_cart; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tbl_cart (user_id, created_at, updated_at, total_price) FROM stdin;
\.


--
-- Data for Name: tbl_cart_item; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tbl_cart_item (id, created_at, updated_at, price, quantity, cart_id, product_id) FROM stdin;
\.


--
-- Data for Name: tbl_category; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tbl_category (id, created_at, updated_at, is_deleted, name) FROM stdin;
1	2025-03-07 15:59:54.545093	2025-03-07 15:59:54.545093	f	Tiß╗âu luß║¡n - ph├¬ b├¼nh
2	2025-03-07 16:02:13.543701	2025-03-07 16:02:13.543701	f	Khoa hß╗ìc
3	2025-03-08 14:01:21.026043	2025-03-08 14:01:21.026043	f	Trinh th├ím - Kinh dß╗ï
4	2025-03-08 15:10:32.673031	2025-03-08 15:10:32.673031	f	Lß╗ïch sß╗¡
5	2025-03-08 15:23:04.459688	2025-03-08 15:23:04.459688	f	Khoa hß╗ìc viß╗àn t╞░ß╗ƒng
\.


--
-- Data for Name: tbl_coupon; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tbl_coupon (id, created_at, updated_at, code, description, end_date, is_active, is_deleted, max_discount, min_amount, name, coupon_type, coupon_value, quantity, start_date, used_count) FROM stdin;
\.


--
-- Data for Name: tbl_customer; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tbl_customer (id, created_at, updated_at, address, code, dob, email, gender, is_active, is_deleted, name, phone_num, img_url, public_id) FROM stdin;
1	\N	\N	\N	KH0000000001	2003-06-27	domanhcuong27062003@gmail.com	t	t	f	─Éß╗ù Mß║ính C╞░ß╗¥ng	0393859904	\N	\N
\.


--
-- Data for Name: tbl_delivery_address; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tbl_delivery_address (id, created_at, updated_at, address, commune, name, phone_num, province, customer_id) FROM stdin;
\.


--
-- Data for Name: tbl_delivery_info; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tbl_delivery_info (id, address, customer_name, email, phone_num) FROM stdin;
\.


--
-- Data for Name: tbl_order; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tbl_order (id, created_at, updated_at, grand_total, amount_paid, change_amount, code, delivery_fee, discount, note, sale_channel, order_status, sub_total, customer_id, coupon_id, staff_id, payment_method, payment_status, ordered_at, order_type, invoice_date, invoice_number) FROM stdin;
\.


--
-- Data for Name: tbl_order_detail; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tbl_order_detail (id, price, product_code, product_name, quantity, total_price, order_id, product_id, created_at, updated_at, discount) FROM stdin;
\.


--
-- Data for Name: tbl_order_status_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tbl_order_status_log (id, created_at, updated_at, confirm_at, confirm_by, status, order_id) FROM stdin;
\.


--
-- Data for Name: tbl_product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tbl_product_author; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tbl_product_author (id, author_id, product_id) FROM stdin;
1	1	1
2	2	2
3	3	3
4	4	4
5	5	5
6	6	6
7	7	7
8	8	8
9	4	9
10	9	10
11	10	11
12	11	12
13	12	13
14	10	14
15	13	15
16	14	16
17	15	17
18	16	18
19	17	19
20	17	20
21	18	21
22	18	22
23	18	23
24	18	24
25	18	25
26	19	26
27	20	27
28	21	7
29	22	29
30	23	29
\.


--
-- Data for Name: tbl_product_category; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tbl_product_category (id, category_id, product_id) FROM stdin;
1	1	1
2	2	2
3	2	3
4	2	4
5	2	5
6	2	6
7	2	7
8	2	8
9	2	9
10	2	10
11	3	11
12	3	12
13	3	13
14	3	14
15	4	15
16	4	16
17	4	17
18	5	18
19	5	19
20	5	20
21	5	21
22	5	22
23	5	23
24	5	24
25	5	25
26	2	26
27	2	27
29	2	29
\.


--
-- Data for Name: tbl_promotion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tbl_promotion (id, created_at, updated_at, code, description, end_date, is_active, name, promotion_type, promotion_value, start_date, max_discount, min_amount) FROM stdin;
\.


--
-- Data for Name: tbl_staff; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tbl_staff (id, address, code, dob, email, gender, identity_num, is_active, is_deleted, name, phone_num, created_at, updated_at, img_url, public_id) FROM stdin;
2	\N	NV0000000002	\N	\N	\N	\N	t	f	Nguyß╗àn V─ân A	0384856273	\N	\N	\N	\N
1	\N	NV0000000001	\N	\N	\N	\N	t	f	─Éß╗ù Mß║ính C╞░ß╗¥ng	0393859904	\N	\N	https://res.cloudinary.com/dwhyfa80s/image/upload/v1742544486/vqz7kcowpddyuxn0qnaq.jpg	vqz7kcowpddyuxn0qnaq
\.


--
-- Data for Name: tbl_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tbl_user (id, created_at, updated_at, is_active, password, role, username, customer_id, staff_id, is_deleted) FROM stdin;
1	\N	\N	t	$2a$12$lTlItbaC5v4ZHJoNQIzd7um3fvD3VUClqf4RvC/Go/QVtw3XcNmhC	ROLE_ADMIN	conan09040	\N	1	f
\.


--
-- Name: tbl_author_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tbl_author_id_seq', 23, true);


--
-- Name: tbl_cart_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tbl_cart_item_id_seq', 1, false);


--
-- Name: tbl_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tbl_category_id_seq', 5, true);


--
-- Name: tbl_customer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tbl_customer_id_seq', 1, true);


--
-- Name: tbl_delivery_address_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tbl_delivery_address_id_seq', 1, false);


--
-- Name: tbl_order_detail_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tbl_order_detail_id_seq', 1, false);


--
-- Name: tbl_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tbl_order_id_seq', 1, false);


--
-- Name: tbl_order_status_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tbl_order_status_log_id_seq', 1, false);


--
-- Name: tbl_product_author_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tbl_product_author_id_seq', 30, true);


--
-- Name: tbl_product_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tbl_product_category_id_seq', 29, true);


--
-- Name: tbl_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tbl_product_id_seq', 29, true);


--
-- Name: tbl_promotion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tbl_promotion_id_seq', 1, false);


--
-- Name: tbl_staff_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tbl_staff_id_seq', 2, true);


--
-- Name: tbl_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tbl_user_id_seq', 1, true);


--
-- Name: tbl_voucher_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tbl_voucher_id_seq', 1, false);


--
-- Name: tbl_author tbl_author_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_author
    ADD CONSTRAINT tbl_author_pkey PRIMARY KEY (id);


--
-- Name: tbl_cart_item tbl_cart_item_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_cart_item
    ADD CONSTRAINT tbl_cart_item_pkey PRIMARY KEY (id);


--
-- Name: tbl_cart tbl_cart_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_cart
    ADD CONSTRAINT tbl_cart_pkey PRIMARY KEY (user_id);


--
-- Name: tbl_category tbl_category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_category
    ADD CONSTRAINT tbl_category_pkey PRIMARY KEY (id);


--
-- Name: tbl_customer tbl_customer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_customer
    ADD CONSTRAINT tbl_customer_pkey PRIMARY KEY (id);


--
-- Name: tbl_delivery_address tbl_delivery_address_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_delivery_address
    ADD CONSTRAINT tbl_delivery_address_pkey PRIMARY KEY (id);


--
-- Name: tbl_delivery_info tbl_delivery_info_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_delivery_info
    ADD CONSTRAINT tbl_delivery_info_pkey PRIMARY KEY (id);


--
-- Name: tbl_order_detail tbl_order_detail_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_order_detail
    ADD CONSTRAINT tbl_order_detail_pkey PRIMARY KEY (id);


--
-- Name: tbl_order tbl_order_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_order
    ADD CONSTRAINT tbl_order_pkey PRIMARY KEY (id);


--
-- Name: tbl_order_status_log tbl_order_status_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_order_status_log
    ADD CONSTRAINT tbl_order_status_log_pkey PRIMARY KEY (id);


--
-- Name: tbl_product_author tbl_product_author_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_product_author
    ADD CONSTRAINT tbl_product_author_pkey PRIMARY KEY (id);


--
-- Name: tbl_product_category tbl_product_category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_product_category
    ADD CONSTRAINT tbl_product_category_pkey PRIMARY KEY (id);


--
-- Name: tbl_product tbl_product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_product
    ADD CONSTRAINT tbl_product_pkey PRIMARY KEY (id);


--
-- Name: tbl_promotion tbl_promotion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_promotion
    ADD CONSTRAINT tbl_promotion_pkey PRIMARY KEY (id);


--
-- Name: tbl_staff tbl_staff_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_staff
    ADD CONSTRAINT tbl_staff_pkey PRIMARY KEY (id);


--
-- Name: tbl_user tbl_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_user
    ADD CONSTRAINT tbl_user_pkey PRIMARY KEY (id);


--
-- Name: tbl_coupon tbl_voucher_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_coupon
    ADD CONSTRAINT tbl_voucher_pkey PRIMARY KEY (id);


--
-- Name: tbl_order uk6eb9c9d22v1b7t64x5e2ejd6u; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_order
    ADD CONSTRAINT uk6eb9c9d22v1b7t64x5e2ejd6u UNIQUE (code);


--
-- Name: tbl_staff ukebc0r5y5fpxyq15d8k3cl5l26; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_staff
    ADD CONSTRAINT ukebc0r5y5fpxyq15d8k3cl5l26 UNIQUE (code);


--
-- Name: tbl_product ukg8vb8cyvyrng09xat351ny276; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_product
    ADD CONSTRAINT ukg8vb8cyvyrng09xat351ny276 UNIQUE (code);


--
-- Name: tbl_user ukk0bty7tbcye41jpxam88q5kj2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_user
    ADD CONSTRAINT ukk0bty7tbcye41jpxam88q5kj2 UNIQUE (username);


--
-- Name: tbl_customer uklqfhy7tgi7slqd498g292iywd; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_customer
    ADD CONSTRAINT uklqfhy7tgi7slqd498g292iywd UNIQUE (code);


--
-- Name: tbl_user uko0v8buh38j96uecoxhp3a4xfk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_user
    ADD CONSTRAINT uko0v8buh38j96uecoxhp3a4xfk UNIQUE (customer_id);


--
-- Name: tbl_user ukq5evh1040f2kot3qkedknhcnw; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_user
    ADD CONSTRAINT ukq5evh1040f2kot3qkedknhcnw UNIQUE (staff_id);


--
-- Name: tbl_product_author fk29dfpm80h0a10wr3dbmgwfeh1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_product_author
    ADD CONSTRAINT fk29dfpm80h0a10wr3dbmgwfeh1 FOREIGN KEY (product_id) REFERENCES public.tbl_product(id);


--
-- Name: tbl_user fk3095tuitq1uai23erfm9bh056; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_user
    ADD CONSTRAINT fk3095tuitq1uai23erfm9bh056 FOREIGN KEY (staff_id) REFERENCES public.tbl_staff(id);


--
-- Name: tbl_user fk3ly2ij5ltxomyp89u9wjejc2e; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_user
    ADD CONSTRAINT fk3ly2ij5ltxomyp89u9wjejc2e FOREIGN KEY (customer_id) REFERENCES public.tbl_customer(id);


--
-- Name: tbl_product fk49tgifi2dfyo5751b3clpe5c2; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_product
    ADD CONSTRAINT fk49tgifi2dfyo5751b3clpe5c2 FOREIGN KEY (promotion_id) REFERENCES public.tbl_promotion(id);


--
-- Name: tbl_cart_item fk84umwt3ihkiggf03us5gq116j; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_cart_item
    ADD CONSTRAINT fk84umwt3ihkiggf03us5gq116j FOREIGN KEY (product_id) REFERENCES public.tbl_product(id);


--
-- Name: tbl_delivery_info fk9ipsj57yl8aiss2nrq9vlbfav; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_delivery_info
    ADD CONSTRAINT fk9ipsj57yl8aiss2nrq9vlbfav FOREIGN KEY (id) REFERENCES public.tbl_order(id);


--
-- Name: tbl_order fkdbbvj4affcu7x13tjn0a12htw; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_order
    ADD CONSTRAINT fkdbbvj4affcu7x13tjn0a12htw FOREIGN KEY (customer_id) REFERENCES public.tbl_customer(id);


--
-- Name: tbl_delivery_address fkel30u31vujblfaxbut7xg6dr8; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_delivery_address
    ADD CONSTRAINT fkel30u31vujblfaxbut7xg6dr8 FOREIGN KEY (customer_id) REFERENCES public.tbl_customer(id);


--
-- Name: tbl_order_detail fkh1jxpk342vagdcrf5o8lpxd1c; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_order_detail
    ADD CONSTRAINT fkh1jxpk342vagdcrf5o8lpxd1c FOREIGN KEY (product_id) REFERENCES public.tbl_product(id);


--
-- Name: tbl_cart_item fkhaw0aw4g8s9icxekpl4oi715a; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_cart_item
    ADD CONSTRAINT fkhaw0aw4g8s9icxekpl4oi715a FOREIGN KEY (cart_id) REFERENCES public.tbl_cart(user_id);


--
-- Name: tbl_cart fkhv6grtjnmtoylt2yyt4wmqtf3; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_cart
    ADD CONSTRAINT fkhv6grtjnmtoylt2yyt4wmqtf3 FOREIGN KEY (user_id) REFERENCES public.tbl_user(id);


--
-- Name: tbl_product_category fkjkbn47tecomukeudhg92tlc15; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_product_category
    ADD CONSTRAINT fkjkbn47tecomukeudhg92tlc15 FOREIGN KEY (category_id) REFERENCES public.tbl_category(id);


--
-- Name: tbl_order fklvmuldp2yfpgfdp8monx4w5qq; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_order
    ADD CONSTRAINT fklvmuldp2yfpgfdp8monx4w5qq FOREIGN KEY (staff_id) REFERENCES public.tbl_staff(id);


--
-- Name: tbl_product_category fklwd56rummt6sunb6fl3t6002r; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_product_category
    ADD CONSTRAINT fklwd56rummt6sunb6fl3t6002r FOREIGN KEY (product_id) REFERENCES public.tbl_product(id);


--
-- Name: tbl_order_detail fknjncq9emp0cdhj0xbe3kk06h8; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_order_detail
    ADD CONSTRAINT fknjncq9emp0cdhj0xbe3kk06h8 FOREIGN KEY (order_id) REFERENCES public.tbl_order(id);


--
-- Name: tbl_order_status_log fko03hxy615gcbq9kimxc7xctdg; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_order_status_log
    ADD CONSTRAINT fko03hxy615gcbq9kimxc7xctdg FOREIGN KEY (order_id) REFERENCES public.tbl_order(id);


--
-- Name: tbl_product_author fkoq3r510a0yqhm1padmh0721q4; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_product_author
    ADD CONSTRAINT fkoq3r510a0yqhm1padmh0721q4 FOREIGN KEY (author_id) REFERENCES public.tbl_author(id);


--
-- Name: tbl_order fkp2mnx0pkjem52h9lobdlofm39; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tbl_order
    ADD CONSTRAINT fkp2mnx0pkjem52h9lobdlofm39 FOREIGN KEY (coupon_id) REFERENCES public.tbl_coupon(id);


--
-- PostgreSQL database dump complete
--

