.sticky-header {
    padding: 20px 0 20px 0;
}

.header-button:hover {
    background-color: mediumseagreen;
    border-radius: 40px;
    cursor: pointer;
}

.header-button {
    border-radius: 40px;
    border: 1px solid lightgrey;
}