<div class = "nav-tabs">
    <p-auto-complete
	  (completeMethod) = "searchProduct($event)"
	  (onSelect) = "selectProduct($event)"
	  [suggestions] = "products()"
	  delay = "500"
	  optionLabel = "code"
	  placeholder = "Tìm sản phẩm theo tên hoặc mã"
	  showClear = "true"
	  styleClass = "searchInput"
    >
        <ng-template #item let-product>
	  <div class = "flex align-items-center gap-2">
	      <img src = "{{product.imgUrl}}" style = "width: 30px">
	      <span>{{ product.name }}</span>
	  </div>
        </ng-template>
    </p-auto-complete>


    <p-button
	  [style] = "{'height':'2rem','width':'2rem','margin-left':'10px'}"
	  icon = "pi pi-barcode"
	  raised = "true"
	  text = "true"></p-button>


    @for (t of tabs(); let i = $index; track i) {

        <div [style.background-color] = "t.tabId===activeTabId()?'#10F6B6':'#10B981'"
	   (click) = "chooseTab(t.tabId)"
	   class = "select-tab-button ml-3">
	  <span>Hoá đơn {{ i + 1 }}</span>
	  <i class = "pi pi-times ml-2"
	     (click) = "deleteTab(t.tabId);$event.stopPropagation()">
	  </i>
        </div>

    }
    <p-button
	  (onClick) = "createNewTab()"
	  [disabled] = "tabs().length >= MAX_TABS"
	  [rounded] = "true"
	  [style] = "{'height':'2rem','width':'2rem','margin-left':'10px'}"
	  class = "ml-2"
	  icon = "pi pi-plus"
	  raised = "true"
	  severity = "success"
	  text = "true"></p-button>
</div>
<form (ngSubmit) = "placeOrder()" [formGroup] = "posForm" style = "margin-top: 20px">
    <div style = "display: flex; column-gap: 10px">

        <div formArrayName = "orderDetails"
	   style = "width: 70%;flex-shrink: 0;row-gap: 10px;display: flex; flex-direction: column">
	  @for (item of orderDetailsFormArray.controls; let i = $index; track i) {
	      <p-card styleClass = "item" [formGroupName] = "i">
		<div class = "flex align-items-center justify-content-between">
		    <div class = "flex align-items-center" style = "width: 50%">
		        <span>{{ i + 1 }}</span>
		        <i (click) = "removeItem(i,item.get('bookId')?.value)" style = "cursor: pointer"
			 class = "pi pi-trash ml-3"></i>
		        <span class = "ml-3">{{ item.get('bookCode')?.value }}</span>
		        <div class = "ml-5"
			   style = "max-width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap">
			  {{ item.get('bookName')?.value }}
		        </div>
		    </div>
		    <div class = "flex align-items-center">
		        <p-button
			      class = "mr-1"
			      [style] = "{'width':'1.5rem','height':'1.5rem'}"
			      severity = "secondary"
			      styleClass = "tab-index-custom"
			      rounded = "true"
			      raised = "true"
			      icon = "pi pi-minus"
			      (click) = "decreaseItemQuantity(orderDetailsFormArray.controls[i],i)"></p-button>
		        <p-input-number
			      min = "1"
			      (onBlur) = "checkEmptyItemQuantity(orderDetailsFormArray.controls[i])"
			      formControlName = "quantity"
			      class = "quantity-input"/>
		        <p-button
			      class = "ml-1"
			      [style] = "{'width':'1.5rem','height':'1.5rem'}"
			      styleClass = "tab-index-custom"
			      rounded = "true"
			      severity = "secondary"
			      raised = "true"
			      icon = "pi pi-plus"
			      (click) = "increaseItemQuantity(orderDetailsFormArray.controls[i])"></p-button>
		    </div>
		    <div class = "flex align-items-center gap-4">
		        <span style = "width: 100px;text-align: right"><u>{{ item.get('price')?.value|number:'1.0-0' }}</u></span>
		        <b style = "width: 100px;text-align: right">{{ calculateItemTotalPrice(item)|number:'1.0-0' }}</b>
		    </div>
		</div>
	      </p-card>
	  }
        </div>
        <div style = "width: 30%;flex-shrink: 0">
	  <p-card styleClass = "order-info">
	      <div class = "flex">
		<!--		<p-auto-complete-->
		<!--		        (completeMethod) = "searchProduct($event)"-->
		<!--		        (onSelect) = "selectProduct($event)"-->
		<!--		        [suggestions] = "products()"-->
		<!--		        delay = "500"-->
		<!--		        optionLabel = "name"-->
		<!--		        placeholder = "Tìm sản phẩm theo tên hoặc mã"-->
		<!--		        showClear = "true"-->
		<!--		        styleClass = "searchInput"-->
		<!--		>-->
		<p-auto-complete
		        (completeMethod) = "findCustomerByNameOrPhoneNum($event)"
		        delay = "500"
		        [showClear] = "true"
		        [style] = "{'height':'35px','align-items': 'center','width':'300px'}"
		        styleClass = "customerInput"
		        optionLabel = "phoneNum"
		        placeholder = "Tìm khách hàng">
		    <ng-template #selectedItem>
		        <div class = "flex align-items-center gap-2">

		        </div>
		    </ng-template>
		    <ng-template #item>
		        <div class = "flex align-items-center gap-2">

		        </div>
		    </ng-template>

		    <ng-template #footer>
		        <div class = "p-3">
			  <p-button fluid icon = "pi pi-plus" label = "Thêm khách hàng" size = "small"/>
		        </div>
		    </ng-template>
		    <ng-template #empty>
		        <span class = "flex justify-content-center">Không có bản ghi nào</span>
		    </ng-template>
		</p-auto-complete>
	      </div>
	      <div class = "flex mt-3">
		<div class = "col-6 pl-0"><b>Tổng tiền hàng</b></div>
		<div class = "col-6"
		     style = "text-align: end">{{ totalAmount()|number:'1.0-0' }}
		</div>
	      </div>
	      <div class = "flex mt-3">
		<div class = "col-5 pl-0"><b>Voucher</b></div>
		<div class = "col-7" style = "position: relative;padding: 0">
		    <input #voucherInput (input) = "findVoucherById(voucherInput.value)"
			 [style] = "{'height':'35px','width':'220px'}"
			 type = "text" pInputText/>
		    @if (voucherNotFoundError() != null && voucherInput.value != "") {
		        <span style = "color: red">{{ voucherNotFoundError() }}</span>
		    }
		</div>
	      </div>
	      <div class = "flex mt-3">
		<div class = "col-6 pl-0"><b>Giảm giá</b></div>
		<div class = "col-6"
		     style = "text-align: end">{{ discount() |number:'1.0-0' }}
		</div>
	      </div>
	      <div class = "flex mt-3">
		<div class = "col-6 pl-0"><b>Khách cần trả</b></div>
		<div class = "col-6"
		     style = "text-align: end">{{ amountDue()|number:'1.0-0' }}
		</div>
	      </div>
	      <div class = "flex mt-3">
		<div class = "col-5 pl-0"><b>Khách thanh toán</b></div>
		<div class = "col-7" style = "position: relative;padding:0">
		    <p-input-number #amountPaid
				(onInput) = "fillAmountPaid($event)"
				(onBlur) = "validateAmountPaid()"
				formControlName = "amountPaid" class = "amount-paid-input"
				inputId = "integeronly"
				[style] = "{'position': 'absolute'}"/>

		</div>
	      </div>
	      <div class = "flex mt-3">
		<div class = "col-6 pl-0"><b>Tiền thừa</b></div>
		<div class = "col-6"
		     style = "text-align: end">{{ changeAmount()|number:'1.0-0' }}
		</div>
	      </div>

	      <p-button [style] = "{'width':'100%','margin-top':'20px'}" label = "Thanh toán"></p-button>

	  </p-card>
        </div>

    </div>
</form>

