<div class = "nav-tabs">

    <!--        <p-select [style] = "{'width':'400px'}">-->
    <!--	  <ng-template #dropdownicon>-->
    <!--	      <i class = "pi pi-search"></i>-->
    <!--	  </ng-template>-->
    <!--	  <ng-template #footer>-->
    <!--	      <div class = "p-3">-->
    <!--		<p-button  label = "Thêm sản phẩm" fluid-->
    <!--			 size = "small" icon = "pi pi-plus"/>-->
    <!--	      </div>-->
    <!--	  </ng-template>-->
    <!--	  <ng-template #empty>-->
    <!--	      <span class = "flex justify-content-center">Không có bản ghi nào</span>-->
    <!--	  </ng-template>-->
    <!--        </p-select>-->
    <p-auto-complete
	  delay = "500"
	  styleClass = "searchInput"
	  placeholder = "Tìm sản phẩm theo tên hoặc mã"

	  (completeMethod) = "searchProduct($event)"
	  (onSelect)="selectProduct($event)"
	  [suggestions] = "products()"
    >
        <ng-template let-product #item>
	  <div class="flex align-items-center gap-2">
	      <img src="{{product.imgUrl}}" style="width: 30px">
	      <span>{{ product.name }}</span>
	  </div>
        </ng-template>
        <ng-template #selectedItem>{{selectedProduct}}</ng-template>
    </p-auto-complete>


    <p-button
	  raised = "true"
	  text = "true"
	  [style] = "{'height':'2rem','width':'2rem','margin-left':'10px'}"
	  icon = "pi pi-barcode"></p-button>


    @for (t of tabs(); let i = $index; track i) {
        <p-splitbutton
	      class = "ml-3"
	      label = "Hoá đơn {{i+1}}"
	      (onClick) = "chooseTab(i)"
	      (onDropdownClick) = "deleteTab(i)"
	      rounded
        >
	  <ng-template #dropdownicon>
	      <i class = "pi pi-times"></i>
	  </ng-template>
        </p-splitbutton>
    }
    <p-button
	  [style] = "{'height':'2rem','width':'2rem','margin-left':'10px'}"
	  [rounded] = "true"
	  severity = "success"
	  [disabled] = "tabs().length >= MAX_TABS"
	  class = "ml-2"
	  text = "true"
	  raised = "true"
	  icon = "pi pi-plus"
	  (onClick) = "createNewTab()"></p-button>
</div>
<form [formGroup] = "posForm" (ngSubmit) = "placeOrder()" style = "margin-top: 20px">
    <div style = "display: flex; gap: 10px">
        <div style = "width: 70%;flex-shrink: 0">
	  <!--        @for (t of test();track $index){-->
	  <p-card styleClass = "item">
	      <div class = "flex align-items-center justify-content-between">
		<div class = "flex align-items-center" style = "width: 50%">
		    <span>1</span>
		    <i style = "cursor: pointer" class = "pi pi-trash ml-3"></i>
		    <span class = "ml-3">SP12345</span>
		    <div class = "ml-5"
		         style = "max-width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap">
		        Sản phẩm ABCDSDFJGaaaaaaaaaaaâaaaaaaaaa
		    </div>
		</div>
		<div class = "flex align-items-center">
		    <p-button
			  class = "mr-1"
			  [style] = "{'width':'1.5rem','height':'1.5rem'}"
			  severity = "secondary"
			  styleClass = "tab-index-custom"
			  rounded = "true"
			  raised = "true"
			  icon = "pi pi-minus"></p-button>
		    <p-input-number class = "quantity-input" min = "1" max = "50"/>
		    <p-button
			  class = "ml-1"
			  [style] = "{'width':'1.5rem','height':'1.5rem'}"
			  styleClass = "tab-index-custom"
			  rounded = "true"
			  severity = "secondary"
			  raised = "true"
			  icon = "pi pi-plus"></p-button>
		</div>
		<div class = "flex align-items-center gap-4">
		    <span style = "border-bottom: solid 1px">20.000.000</span>
		    <b>20.000.000</b>
		</div>
	      </div>


	  </p-card>
	  <!--        }-->
        </div>
        <div style = "width: 30%;flex-shrink: 0">
	  <p-card styleClass = "order-info">
	      <div class = "flex">
		<p-select
		        [style] = "{'height':'35px','align-items': 'center','width':'300px'}"
		        optionLabel = "name"
		        [filter] = "true"
		        filterBy = "name"
		        [showClear] = "true"
		        placeholder = "Tìm khách hàng">
		    <ng-template #selectedItem let-selectedOption>
		        <div class = "flex align-items-center gap-2">
			  <div>{{ selectedOption.name }}</div>
		        </div>
		    </ng-template>
		    <ng-template let-country #item>
		        <div class = "flex align-items-center gap-2">
			  <div>{{ country.name }}</div>
		        </div>
		    </ng-template>

		    <ng-template #footer>
		        <div class = "p-3">
			  <p-button label = "Thêm khách hàng" fluid size = "small" icon = "pi pi-plus"/>
		        </div>
		    </ng-template>
		    <ng-template #empty>
		        <span class = "flex justify-content-center">Không có bản ghi nào</span>
		    </ng-template>
		</p-select>
	      </div>
	      <div class = "flex mt-3">
		<div class = "col-6 pl-0"><b>Tổng tiền hàng</b></div>
		<div class = "col-6" style = "text-align: end">500,000,000</div>
	      </div>
	      <div class = "flex mt-3">
		<div class = "col-6 pl-0"><b>Giảm giá</b></div>
		<div class = "col-6" style = "text-align: end">500,000</div>
	      </div>
	      <div class = "flex mt-3">
		<div class = "col-6 pl-0"><b>Khách cần trả</b></div>
		<div class = "col-6" style = "text-align: end">500,000</div>
	      </div>
	      <div class = "flex mt-3">
		<div class = "col-6 pl-0"><b>Khách thanh toán</b></div>
		<div class = "col-6" style = "text-align: end">500,000</div>
	      </div>

	      <p-button [style] = "{'width':'100%','margin-top':'20px'}" label = "Thanh toán"></p-button>

	  </p-card>
        </div>

    </div>
</form>

