.nav-tabs {
    display: flex;
    align-items: center;
}

.item {
    .p-card-body {
        padding-bottom: 10px;
        padding-top: 10px;
    }
}

.quantity-input{
    .p-inputnumber-input {
        width: 80px;
        height: 35px;
    }
}
.amount-paid-input{
    .p-inputnumber-input {
        width: 220px;
        height: 35px;
    }
}

.searchInput {
    .p-inputtext {
        width: 400px;
    }

    .p-virtualscroller {
        width: 450px;
    }
}

.order-info {
    .p-card-body {
        height: calc(100vh - 190px)
    }
}


.tab-index-custom {
    .p-button-icon {
        font-size: 10px;
    }
}

.select-tab-button {
    border: 1px solid;
    padding: 9px 13px;
    height: 41px;
    border-radius: 20px;
    color: white;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

