.sidenav-header {
    padding-top: 24px;
    display: flex;
    flex-direction: column; /* Xếp chồng ảnh và chữ theo chiều dọc */
    align-items: center;    /* Căn giữa theo chiều ngang */
    text-align: center;

    > img {
        border-radius: 100%;
        object-fit: cover;
        margin-bottom: 10px;
    }

    .header-text {
        > h2 {
            margin: 0;
            font-size: 1rem;
            line-height: 1.5rem;
        }

        > p {
            margin: 0;
            font-size: 0.8rem;
        }
    }
}

.active {
    background-color: #dbf4df;
}
