<p-menubar [style]="{'border':'solid 1px lightgreen','margin':'5px 5px 0'}">
    <p-button
            class="mr-2"
            icon="pi pi-bell"
            [text]="true"
            [rounded]="true"
            size="small"
    ></p-button>
    <p-button
            class="mr-4"
            icon="pi pi-user"
            [text]="true"
            [rounded]="true"
            size="small"
            (onClick)="confirmSignOut()"
    ></p-button>

    <p-tiered-menu [model]="items" [popup]="true" appendTo="body"></p-tiered-menu>
</p-menubar>

<p-confirm-dialog #cd>
    <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
        <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
            <div class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem">
                <i class="pi pi-question text-5xl"></i>
            </div>
            <span class="font-bold text-2xl block mb-2 mt-4">
                {{ message.header }}
            </span>
            <div class="flex align-items-center gap-2 mt-4">
                <p-button
                        label="Đồng ý"
                        severity="danger"
                        icon="pi pi-check"
                        (onClick)="onAccept()"
                        class="w-8rem">
                </p-button>
                <p-button
                        label="Bỏ qua"
                        severity="secondary"
                        icon="pi pi-times"
                        (click)="onReject()"
                        class="p-button-outlined w-8rem ">
                </p-button>
            </div>
        </div>
    </ng-template>
</p-confirm-dialog>
