<p-dialog
        header="Thêm mới khách hàng"
        [modal]="true"
        [style]="{width:'70rem'}"
        [visible]="visible()"
        closable="false">
    <form (ngSubmit)="saveCustomer()">
        <!--Phần input chính -->
        <div class="flex">
            <div class="col-6">
                <p-floatlabel variant="on" class="mt-3 flex">
                    <input aria-describedby="code-error"
                           type="text"
                           pInputText
                           id="code"
                           style="width:600px"
                           formControlName="code"
                    />
                    <label for="code">Mã khách hàng</label>
                </p-floatlabel>

                <p-floatlabel variant="on" class="mt-5 flex">
                    <input aria-describedby="name-error"
                           type="text"
                           pInputText
                           id="name"
                           style="width:600px"
                           formControlName="name"
                    />
                    <label for="name">Tên khách hàng</label>
                </p-floatlabel>
                @if (submitted() && saveF) {
                    <small class="error-code block mt-1">
                        Tên không được để trống
                    </small>
                }
                <p-floatlabel variant="on" class="mt-5 flex">
                    <input pInputText id="phoneNum" style="width:600px"
                           formControlName="phoneNum"/>
                    <label for="phoneNum">Điện thoại</label>
                </p-floatlabel>
                @if (submitted() && saveForm.get('phoneNum')?.invalid) {
                    <small class="p-error block mt-1">
                        Số điện thoại phải bắt đầu bằng 0 và phải có 10 kí tự
                    </small>
                }
                <div class="mt-5 flex">
                    <p-floatlabel variant="on">
                        <p-date-picker [maxDate]="now" appendTo="body" formControlName="dob" style="width:300px"
                                       dateFormat="dd-mm-yy"></p-date-picker>
                        <label for="dob">Ngày sinh</label>
                    </p-floatlabel>
                    <div class="flex align-items-center ml-5">
                        <p-radio-button name="gender" [value]="true" formControlName="gender"
                                        inputId="g1"></p-radio-button>
                        <label for="g1" class="ml-2">Nam</label>
                    </div>
                    <div class="flex align-items-center ml-5">
                        <p-radio-button name="gender" [value]="false" formControlName="gender"
                                        inputId="g2"></p-radio-button>
                        <label for="g2" class="ml-2">Nữ</label>
                    </div>
                </div>

            </div>
            <div class="col-6">
                <p-floatlabel variant="on" class="mt-3 flex">
                    <p-select
                            [style]="{'width':'600px'}"
                            [options]="provinces()"
                            (onChange)="selectProvince($event)"
                            (onClear)="clearProvince()"
                            [showClear]="true"
                            formControlName="province"
                            optionLabel="name"
                            optionValue="code"
                    />
                    <label>Tỉnh thành</label>
                </p-floatlabel>
                <p-floatlabel variant="on" class="mt-5 flex">
                    <input aria-describedby="address-error"
                           type="text"
                           pInputText
                           id="address"
                           style="width:600px"
                           formControlName="address"
                    />
                    <label for="address">Địa chỉ</label>
                </p-floatlabel>
                <p-floatlabel variant="on" class="mt-5 flex">
                    <input aria-describedby="email-error"
                           type="text"
                           pInputText
                           id="email"
                           style="width:600px"
                           formControlName="email"
                    />
                    <label for="email">Email</label>
                </p-floatlabel>
            </div>
        </div>
        <!--Phần input file -->
        <div class="flex mt-4">
            <div class="col-6">
                <p-fileupload
                        (onSelect)="chooseImage($event)"
                        (onRemove)="removeImage()"
                        [multiple]="false"
                        accept="image/*"
                        maxFileSize="5242880"
                        [showCancelButton]="false"
                        [showUploadButton]="false"
                        fileLimit="1"
                        chooseLabel="Chọn ảnh">
                </p-fileupload>
            </div>
            <!--Phần button -->

            <div class="flex pt-2 col-6 justify-content-end">
                <p-button class="mr-3" type="submit" [disabled]="!this.saveForm.valid" label="Thêm mới" icon="pi pi-plus"></p-button>
                <p-button severity="secondary" label="Bỏ qua" (onClick)="closeDialog()"
                          icon="pi pi-times"></p-button>
            </div>
        </div>
    </form>
</p-dialog>
