<div style="overflow-y: auto;height: calc(100vh - 140px)">
    <span style="font-size: 25px"> <b>Khách hàng</b> </span>
    <p-table
            [value]="customers()"
            [tableStyle]="{ 'min-width': '30rem' }"
            [expandedRowKeys]="expandedRows()"
            dataKey="id"
            [rowHover]="true"
            [stripedRows]="true"
            (onRowExpand)="onRowExpand($event)">
        <ng-template #caption>
            <div class="flex">
                <div class="col-6 flex">
                    <p-iconfield iconPosition="left">
                        <p-inputicon>
                            <i class="pi pi-search"></i>
                        </p-inputicon>
                        <input (input)="delaySearch()"
                               pInputText
                               type="text"
                               [(ngModel)]="nameOrCodeOrPhoneNumKeyword"
                               placeholder="Tìm theo mã/tên/SĐT"/>
                    </p-iconfield>
                    <p-select
                            [style.margin-left.px]="10"
                            [options]="filterOption()"
                            (onChange)="delaySearch()"
                            optionLabel="name"
                            optionValue="value"
                            [(ngModel)]="filterSelection"
                            placeholder="Sắp xếp"/>
                    <p-select
                            [style.margin-left.px]="10"
                            [options]="statusOption()"
                            (onChange)="delaySearch()"
                            optionLabel="name"
                            optionValue="value"
                            [(ngModel)]="statusSelection"
                            placeholder="Trạng thái"/>
                </div>
                <div class="col-6 flex justify-content-end">
                    <p-button (click)="this.saveFormVisible.set(true)" icon="pi pi-plus" severity="success"
                              class="mr-2"
                              label="Thêm mới"></p-button>
                    <!--                    <p-button (click)="exportExcel()" icon="pi pi-file-export" severity="success" class="mr-2"-->
                    <!--                              label="Xuất Excel"></p-button>-->
                    <!--	      <p-button class = "mr-0" icon = "pi pi-file-import" severity = "success"-->
                    <!--		      label = "Nhập Excel"></p-button>-->
                </div>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th>Mã khách hàng</th>
                <th>Tên khách hàng</th>
                <th>Số điện thoai</th>
            </tr>
        </ng-template>
        <ng-template #body let-cus>
            <tr [pRowToggler]="cus">
                <td>{{ cus.code }}</td>
                <td>{{ cus.name }}</td>
                <td>{{ cus.phoneNum }}</td>
            </tr>
        </ng-template>
        <ng-template #expandedrow let-cus>
            <tr class="bg-primary-50">
                <td colspan="7">
                    <div>
                        <div class="grid mt-3">
                            <div class="col-3 flex justify-content-center">
                                <p-image
                                        src="{{cus.image!==null?`${buildImgUrl(cus.image.publicId)}`:ENV.BASE_IMAGE}}"
                                        alt="Image"
                                        width="130"
                                        [preview]="true"/>
                            </div>
                            <div class="col-4">
                                <div class="grid">
                                    <div style="font-weight: bold" class="col-4">Mã khách hàng:</div>
                                    <div class="col-8">{{ cus.code }}</div>
                                </div>
                                <div class="grid mt-1">
                                    <div style="font-weight: bold" class="col-4">Tên khách hàng:</div>
                                    <div class="col-8">{{ cus.name }}</div>
                                </div>
                                <div class="grid mt-1">
                                    <div style="font-weight: bold" class="col-4">Số điện thoai:</div>
                                    <div class="col-8">{{ cus.phoneNum }}</div>
                                </div>
                                <div class="grid mt-1">
                                    <div style="font-weight: bold" class="col-4">Ngày sinh:</div>
                                    <div class="col-8">{{ cus.dob | date:'dd/MM/yyyy' }}</div>
                                </div>
                                <div class="grid mt-1">
                                    <div style="font-weight: bold" class="col-4">Giới tính:</div>
                                    <div class="col-8">{{ cus.gender === true ? "Nam" : cus.gender === false ? "Nữ" : null }}</div>
                                </div>
                            </div>
                            <div class="col-4">

                                <div class="grid">
                                    <div style="font-weight: bold" class="col-4">Tỉnh thành:</div>
                                    <div class="col-8">{{ cus.province?.name }}</div>
                                </div>
                                <div class="grid mt-1">
                                    <div style="font-weight: bold" class="col-4">Địa chỉ:</div>
                                    <div class="col-8">{{ cus.address }}</div>
                                </div>
                            </div>

                        </div>
                        <div class="flex pt-2 justify-content-end">
                            <p-button (click)="showUpdateDialog(cus.id)" icon="pi pi-pencil" class="mr-3"
                                      label="Cập nhật"></p-button>

                            <p-button (onClick)="changeStatus(cus.id)" icon="pi pi-pause-circle" severity="warn"
                                      class="mr-3"
                                      [label]="cus.isActive?'Ngừng hoạt động':'Cho phép hoạt động'"></p-button>
                            <p-button (onClick)="confirmDelete(cus.id)" icon="pi pi-trash" severity="danger"
                                      label="Xoá"></p-button>

                            <p-confirm-dialog #cd>
                                <ng-template #headless let-message let-onAccept="onAccept"
                                             let-onReject="onReject">
                                    <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
                                        <div
                                                class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem">
                                            <i class="pi pi-question text-5xl"></i>
                                        </div>
                                        <span class="font-bold text-2xl block mb-2 mt-4">{{ message.header }}</span>
                                        <div class="flex align-items-center gap-2 mt-4">
                                            <p-button
                                                    label="Đồng ý"
                                                    severity="danger"
                                                    icon="pi pi-check"
                                                    (onClick)="onAccept()"
                                                    class="w-8rem">
                                            </p-button>
                                            <p-button
                                                    label="Bỏ qua"
                                                    severity="secondary"
                                                    icon="pi pi-times"
                                                    (onClick)="onReject()"
                                                    class="p-button-outlined w-8rem ">
                                            </p-button>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-confirm-dialog>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template #footer class="flex justify-content-center">
            <tr>
                <td colspan="100%" style="background-color: #ffffff">
                    <p-paginator #paginator
                                 (onPageChange)="onPageChange($event)"
                                 [rows]="size()"
                                 [totalRecords]="totalElements()"
                                 [rowsPerPageOptions]="[10, 20, 30]"
                                 appendTo="body"/>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-toast [life]="3000"/>
</div>
@if (saveFormVisible()) {
    <app-customer-save-form
            [(visible)]="saveFormVisible"
            (message)="saveMessage($event)"
            (paginatorReset)="searchCustomer(page(),size(),$event)"
    ></app-customer-save-form>
}
@if (updateFormVisible()) {
    <app-customer-update-form
            [(visible)]="updateFormVisible"
            [updateId]="updateId"
            (message)="updateMessage($event)"
            (paginatorReset)="searchCustomer(page(),size(),$event)"
    ></app-customer-update-form>
}